<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="/css/style.css" rel="stylesheet">

        <title>{{ title | default: 'Artwork' }}</title>
    </head>

    <body class="bg-white-500 text-black-500">
        {% include "navbar.html" %}

        <main class="min-h-screen">
            {{ content }}
        </main>

        {% include "footer.html" %}

        <script>
            // mobile nav menu
            const hamburgerOpenEle = document.getElementById('hamburger-open');
            const hamburgerCloseEle = document.getElementById('hamburger-close');
            const navbarEle = document.getElementById('navbar-sticky');
            const navbarMobileEle = document.getElementById('mobile-navbar');

            hamburgerOpenEle.addEventListener('click', () => {
                navbarMobileEle.classList.remove('hidden');
            });
            hamburgerCloseEle.addEventListener('click', () => {
                navbarMobileEle.classList.add('hidden');
            });

            // copyright year
            document.getElementById('year').innerText = new Date().getFullYear();
        </script>
    </body>
</html>