<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/css/style.css" rel="stylesheet">

    <title>{{ title | default: 'Artwork' }}</title>
</head>
<body>
    {% include "navbar.html" %}

    <main>
        {{ content }}
    </main>

    {% include "footer.html" %}

    <script>
        // copyright year
        document.getElementById('year').innerText = new Date().getFullYear();
    </script>
</body>
</html>