---
layout: main.html
---

<!-- hero -->
<div class="md:min-h-[100vh] my-16 mt-[{{ global.navbar_height }}] px-4 md:p-10 flex flex-wrap justify-center items-center" id="hero">
    <!-- left side -->
    <div class="md:w-1/2 lg:w-[40%] my-10 mx-auto">
        <h1 class="text-4xl xl:text-6xl font-medium text-center md:text-left mb-2">{{ pages.home.hero_slogan }}</h1>
        <p class="text-lg mb-3 text-center md:text-left">{{ pages.home.hero_desc }}</p>
        
        <!-- CTA -->
        <div class="flex justify-center md:justify-start">
            {% for item in nav_items.items %}
                {% if item.cta == true %}
                    <a href="{{ item.url }}" class="block w-fit mr-2 px-3 py-2.5 bg-primary-200 text-primary-600 border-4 border-primary-600 font-medium hover:bg-primary-600 focus:bg-primary-600 hover:text-white-500 focus:text-white-500 focus:ring-2 focus:ring-primary-500 focus:outline-none">{{ item.name }}</a>
                {% endif %}
            {% endfor %}
            
        </div>
    </div>

    <!-- right side -->
    <div class="md:w-1/2">
        <img src="{{ pages.home.hero_image }}" alt="artwork-highlight" class="max-w-[300px] md:max-w-[350px] lg:max-w-[425px] md:w-4/5 mx-auto border-4 border-black-500 shadow-retro">
    </div>
</div>

<!-- highlight samples -->
<div class="mb-16 px-10" id="highlight">
    <h2 class="text-4xl text-center mb-12 font-medium">Some awesome samples</h2>

    <div class="flex flex-wrap justify-center items-start gap-8 mb-10">
        {% for sample in samples.items %}
            {% if sample.highlight == 'yes' %}
                <div class="border-4 border-black-500 shadow-retro">
                    <a href="/{{ sample.title | slugify }}" class="w-[250px] md:w-[200px] lg:w-[275px] focus:ring-4 focus:outline-none focus:ring-black-500">
                        <!-- art image -->
                        <div class="h-[250px] md:h-[200px] lg:h-[275px]" style="width: inherit;">
                            <img src="{{ sample.image }}" alt="{{ sample.title }}" class="w-full h-full object-cover">
                        </div>

                        <!-- art caption -->
                        <div class="border-t-2 border-black-500 p-2" style="width: inherit;">
                            <p class="text-center">{{ sample.title }}</p>
                        </div>
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="text-center">
        <a href="/samples" class="block w-fit mx-auto px-3 py-2.5 bg-primary-200 text-primary-600 border-4 border-primary-600 font-medium hover:bg-primary-600 focus:bg-primary-600 hover:text-white-500 focus:text-white-500 focus:ring-2 focus:ring-primary-500 focus:outline-none">See more</a>
    </div>
</div>

<!-- about -->
<div class="p-16 bg-secondary-500">
    <div class="flex flex-wrap justify-center items-center">
        <div class="mb-8 lg:px-4 md:w-1/2">
            <h2 class="text-4xl mb-8 font-medium">The Artist</h2>

            <p class="mb-4 leading-9">{{ pages.about.main }}</p>

            <a href="/about" class="block w-fit px-3 py-2.5 bg-primary-200 text-primary-600 border-4 border-primary-600 font-medium hover:bg-primary-600 focus:bg-primary-600 hover:text-white-500 focus:text-white-500 focus:ring-2 focus:ring-primary-500 focus:outline-none">About me</a>
        </div>

        <div class="mb-8 w-[250px] max-w-[300px] md:w-1/2 mx-auto border-4 border-black-500 shadow-retro">
            <img src="{{ pages.home.about_image }}" alt="a photo of me, the artist" class="mx-auto">
        </div>
    </div>
</div>

<!-- blog snippets -->

<!-- newsletter signup -->
{% include "newsletter.html" %}