---
layout: main.html
---

<!-- hero -->
<div class="md:min-h-[100vh] my-16 md:p-10 flex flex-wrap justify-center items-center" id="hero">
    <!-- left side -->
    <div class="my-10 mx-auto">
        <h1 class="text-6xl mb-2">My Artwork</h1>
        <p class="text-lg mb-3 text-center md:text-left">Check out my unique artwork!</p>
        
        <!-- CTA -->
        <div class="flex justify-center md:justify-start">
            <a href="/samples" class="block w-fit mr-2 px-3 py-2.5 bg-primary-200 text-primary-600 border-4 border-primary-600 font-medium hover:bg-primary-600 focus:bg-primary-600 hover:text-white-500 focus:text-white-500 focus:ring-2 focus:ring-primary-500 focus:outline-none">Samples</a>
            <a href="/shop" class="block w-fit px-3 py-2.5 bg-primary-100 text-primary-400 border-4 border-primary-400 font-medium hover:bg-primary-400 focus:bg-primary-400 hover:text-black-500 focus:text-black-500 focus:ring-2 focus:ring-primary-200 focus:outline-none">Shop</a>
        </div>
    </div>

    <!-- right side -->
    <div class="md:w-1/2">
        <img src="https://placehold.co/500/png" alt="artwork-highlight" class="max-w-[300px] md:max-w-[350px] md:w-4/5 mx-auto rounded">
    </div>
</div>

<!-- highlight artworks -->
<div class="mb-16 px-10" id="highlight">
    <h2 class="text-4xl text-center mb-12">Some awesome artwork</h2>

    <div class="flex flex-wrap justify-center gap-8 mb-10">
        {% for item in artwork.items %}
            {% if item.highlight == 'yes' %}
                <div class="border-4 border-black-500 shadow-retro">
                    <a href="/{{ item.title }}" class="focus:ring-4 focus:outline-none focus:ring-black-500">
                        <!-- art image -->
                        <div class="w-[250px] h-[250px]">
                            <img src="/images/{{ item.image }}" alt="{{ item.title }}" class="w-full h-full object-cover">
                        </div>

                        <!-- art caption -->
                        <div class="border-t-2 border-black-500 py-3">
                            <p class="text-center">{{ item.title }}</p>
                        </div>
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="text-center">
        <a href="/samples" class="block w-fit mx-auto px-3 py-2.5 bg-primary-200 text-primary-600 border-4 border-primary-600 font-medium hover:bg-primary-600 focus:bg-primary-600 hover:text-white-500 focus:text-white-500 focus:ring-2 focus:ring-primary-500 focus:outline-none">See more</a>
    </div>
</div>

<!-- about -->
<div class="p-16 bg-secondary-500">
    <div class="flex flex-wrap justify-center items-center">
        <div class="mb-8 lg:px-4 md:w-1/2">
            <h2 class="text-4xl mb-8">The Artist</h2>

            <p class="mb-4 leading-9">G4LLO (pronounced, Ga-yo like a Spanish rooster Gallo) is a multifaceted digital artist, vocalist, DJ. Everything about his life has involved chaos, and he has learned to become a friend to it. From being a first-generation Guatemalan-American, to learning that he has traits of AuDHD, OCD and Bipolar II. Or learning about his trans and queer identities, and his fluid sexuality too.
            </p>

            <a href="/about" class="block w-fit px-3 py-2.5 bg-primary-200 text-primary-600 border-4 border-primary-600 font-medium hover:bg-primary-600 focus:bg-primary-600 hover:text-white-500 focus:text-white-500 focus:ring-2 focus:ring-primary-500 focus:outline-none">About me</a>
        </div>

        <div class="mb-8 w-[250px] max-w-[300px] md:w-1/2 mx-auto border-4 border-black-500 shadow-retro">
            <img src="https://placehold.co/300x400/png" alt="a photo of me, the artist" class="mx-auto">
        </div>
    </div>
</div>

<!-- blog snippets -->

<!-- newsletter signup -->
<div class="p-10">
    <h2 class="text-4xl text-center mb-8">Newsletter</h2>

    <form action="">
        <div class="flex justify-center items-end">
            <div class="grow md:grow-0 md:w-1/2 mr-4">
                <label for="email" class="block font-medium text-black-900 mb-1.5">Email:</label>
                <input type="email" id="newsletter-email" class="bg-black-50 border-2 border-primary-600 text-black-900 text-sm rounded-lg focus:ring-2 focus:ring-primary-500 focus:outline-none block w-full p-2.5" placeholder="davinci@monalisa.com" required>
            </div>

            <div>
                <button type="submit" class="inline-block bg-transparent hover:bg-primary-600 focus:bg-primary-600 border-2 border-primary-600 focus:ring-2 focus:outline-none focus:ring-primary-500 font-medium text-primary-600 hover:text-white-500 focus:text-white-500 rounded-lg px-4 py-2">Submit</button>
            </div>
        </div>
    </form>
</div>